.menu {
  background-color: #1265d1;
  padding: 15px;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.menu a:hover {
  color: rgb(0, 126, 164);
}


      body {
        font-family: Arial, sans-serif;
        background: #f0f8ff;
        margin: 0px;
        padding: 25px;
        text-align: justified;
      }

      header {
        background: rgb(11, 134, 216);
        color: white;
        padding: 20px;
        font-size: 28px;
        font-weight: bold;
      }

      .contenido {
        padding: 30px;
      }

      .button {
        padding: 12px 24px;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        background: rgb(4, 124, 172);
        color: white;
        cursor: pointer;
      }

      button:hover {
        background: #2fe9e6;
      }

      .button {
        margin-top: 20px;
        font-size: 22px;
        color: #333;
      }

      .img_logo { 
        height: 20%;
        width: 20%;
        position: center;
      }

     footer {
    background-color: #3a6fa5;   /* azul oscuro */
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
    font-size: 14px;
     }

    footer a {
    color: #FF6F61; /* enlaces en rojo suave */
    text-decoration: none;
    margin: 0 5px;
    }

    footer a:hover {
    text-decoration: underline;
}

     
   